#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(24, 69, 28, 0.7);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #B101D8;
    color: #fcfbfb;
}

.home-title {
    text-align: center;
    color: #18451C;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-msg h4 {
    color: #18451C;
}

.button-box {
    text-align: center;
}

.book {
    background-color: #85CEC8;
    color: #18451C;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    display: inline-block;
}

.book:hover {
    background-color: #B101D8;
    color: #fcfbfb;
}

main section {
    text-align: center;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

#background {
    height: 725px;
    background-color: rgba(24, 69, 28, 0.1);
}

.msg {
    background-color: #85CEC8;
    padding: 35px;
}

.msg h2 {
    color: #18451C;
}

.msg p {
    color: #333;
}

.join {
    background-color: #85CEC8;
    color: #18451C;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    display: inline-block;
}

.join:hover {
    background-color: #B101D8;
    color: #fcfbfb;
}

footer {
    background-color: #18451C;
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
    color: #fcfbfb;
}

footer a {
    color: #85CEC8;
    text-decoration: none;
}

footer a:hover {
    color: #B101D8;
    text-decoration: underline;
}